.App {
  text-align: center;
  font-family: Baskerville;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 50px;
}

.logo {
  height: 50px;
  width: auto;
}

.image {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
}
.about {
  margin: auto;
  text-align: center;
}

.navbar {
  width: 100%;
  margin: 0;
  overflow: hidden;
  margin-right: 3%;
}

.navbar2 {
  display: flex;
  top: 0%;
  position: absolute;
  right: 0;
  margin-left: 3%;
}

.card {
  width: 80px;
}

.hidden {
  display: none;
}

.casinoList {
  list-style: none;
  font-size: 50px;
  text-align: center;
  list-style-position: inside;
  margin-top: 15%;
  margin-left: -3%;
  font-weight: bold;
}

li {
  margin: 15px 0;
}

a:visited {
  text-decoration: none;
  color: #bea891;
}

a {
  text-decoration: none;
}
.casino {
  background-size: cover;
}

.listo {
  background-image: linear-gradient(
    to right,
    #81a28f,
    #81a28f 50%,
    #bea891 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.listo:before {
  content: "";
  background: #81a28f;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.listo:hover {
  background-position: 0;
}

.listo:hover::before {
  width: 100%;
}

/* Presentational Styles */
.casino {
  display: grid;
  font-family: "Baskerville", sans-serif;
  font-size: 27px;
  font-weight: 500;
  height: 45vh;
  text-align: center;
}

label {
  font-family: "Baskerville", sans-serif;
  font-size: 15px;
}

form {
  margin: 15px 0;
}

input {
  margin: 7px 0;
  display: inline-block;
  border-radius: 6px;
  border: none;
}

.login-form {
  display: inline-block;
  text-align: center;
}

b {
  font-weight: normal;
  font-size: 18px;
  margin-right: 4px;
  text-align: left;
  color: #bea891;
}

.login-button {
  margin-top: 15px;
}

.login-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Baskerville", cursive;
  letter-spacing: 5px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
}

.login-button:after {
  content: "";
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;
}

.login-button:hover {
  transform: translateY(5px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 20px;
  color: #bea891;
}

.about {
  color: #bea891;
  font-size: 35px;
  width: 50%;
}

.categories > p {
  margin: 3%;
  color: #81a28f;
}

span {
  color: #81a28f;
  font-size: 32px;
  font-weight: bold;
}

.categories {
  opacity: 0.75;
  margin-top: 5%;
}
.categories:hover {
  opacity: 1;
}

.slotto {
  width: 300px;
  height: auto;
}

.container-first {
	display: flex;
	flex-flow: column-reverse wrap;
	align-content: flex-start;
	width: auto;
	height: 300px;
	padding: 0px 0px 0px 20px;
  border-top: 2px sold white;
}

.red-item, .black-item, .zero-item {
  box-sizing: border-box;
  border: none;
  border-left: 3px solid white;
  border-top: 3px solid white;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	width: 50px;
	font-size: 30px;
	color: white;
}
.zero-item {
  border-bottom: 3px solid white;
	padding-top: 110px;
	padding-bottom: 111px;
}
.red-item {
	background-color: red;
}

.black-item {
	background-color: black;
}

.column-item {
	border: solid white;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	width: 50px;
	font-size: 30px;
	color: white;
}

.container-second {
	display: flex;
	width: auto;
	height: 70px;
	flex-flow: row wrap;
	align-content: flex-start;
	padding: 0px 0px 0px 72px;

}

.doz-item {
	flex-basis: 220px;
	border: solid white;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	height: 20px;
	font-size: 30px;
	color: white;
}

.container-third {
	display: flex;
	width: auto;
	height: 150px;
	flex-flow: row wrap;
	align-content: flex-start;
	padding: 0px 0px 0px 72px;
}

.outside-section {
	flex-basis: 107px;
	border: solid white;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	height: 20px;
	font-size: 30px;
	color: white;
}

.rhomb-red {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: red;
	border: solid white;
	transform: rotate(45deg);
  color: transparent;
}

.rhomb-black {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: black;
	border: solid white;
	transform: rotate(45deg);
  color: transparent;
}

.value {
	transform: rotate(-90deg);
}