.App {
  text-align: center;
  font-family: Baskerville;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 36px;
}

.logo {
  height: 50px;
  width: auto;
}

.about {
  margin: auto;
  text-align: center;
}

.navbar {
  width: 100%;
  margin: 0;
  overflow: hidden;
  margin-right: 3%;
  justify-content: center;
  margin-top: 0.5%;
}

.navbar2 {
  display: flex;
  top: 0%;
  position: absolute;
  right: 0;
  margin-top: 1%;
}

.card {
  width: 110px;
}

.hidden {
  display: none;
}

.casinoList {
  list-style: none;
  font-size: 50px;
  text-align: center;
  list-style-position: inside;
  margin-top: 15%;
  margin-left: -3%;
  font-weight: bold;
}

li {
  margin: 15px 0;
}

a:visited {
  text-decoration: none;
  color: #bea891;
}

a {
  text-decoration: none;
}

.casino {
  background-size: cover;
}

.listo {
  background-image: linear-gradient(
    to right,
    #81a28f,
    #81a28f 50%,
    #bea891 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.listo:before {
  content: "";
  background: #81a28f;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.listo:hover {
  background-position: 0;
}

.listo:hover::before {
  width: 100%;
}

/* Presentational Styles */
.casino {
  display: grid;
  font-family: "Baskerville", sans-serif;
  font-size: 27px;
  font-weight: 500;
  height: 45vh;
  text-align: center;
}

label {
  font-family: "Baskerville", sans-serif;
  font-size: 15px;
}

form {
  margin: 15px 0;
}

input {
  margin: 7px 0;
  display: inline-block;
  border-radius: 6px;
  border: none;
}

.login-form {
  display: inline-block;
  text-align: center;
}

b {
  font-weight: normal;
  font-size: 18px;
  margin-right: 4px;
  text-align: left;
  color: #bea891;
}

.login-button {
  margin-top: 15px;
}

.login-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Baskerville", cursive;
  letter-spacing: 5px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
}

.login-button:after {
  content: "";
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;
}

.login-button:hover {
  transform: translateY(5px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 22px;
  color: #bea891;
}

.about {
  color: #bea891;
  font-size: 35px;
  width: 50%;
}

.categories > p {
  margin: 3%;
  color: #81a28f;
}

.span {
  color: #81a28f;
  font-size: 32px;
  font-weight: bold;
}

.categories {
  opacity: 0.75;
  margin-top: 5%;
}
.categories:hover {
  opacity: 1;
}

.slotto {
  width: 300px;
  height: auto;
}

.grid {
  margin-top: 3%;
}
.exp {
  border: solid;
  border-color: #81a28f;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px;
  float: left;
  text-align: center;
  width: 130px;
  height: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.pic {
  height: 150px;
  width: 170px;
}

.exp:hover {
  box-shadow: 0 8px 16px 0 #bea891;
}

.exp > h3 {
  margin: auto;
  margin-top: 15px;
  color: #81a28f;
}

.exp > p {
  font-size: 25px;
  margin: auto;
  color: #81a28f;
  margin-bottom: 45px;
}

.exp > button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Baskerville", cursive;
  letter-spacing: 2px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
}

.exp > button:after {
  content: "";
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;
}

.exp > button:hover {
  transform: translateY(5px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.delete {
  width: 140px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Baskerville", cursive;
  letter-spacing: 2px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  display: block;
  margin: auto;
  margin-top: 1%;
}
.logout {
  width: 140px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Baskerville", cursive;
  letter-spacing: 2px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  display: block;
  margin: auto;
}

.para {
  font-size: 20px;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 26px;
  font-family: "Baskerville";
  margin: auto;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: transparent;
}

.rbc-calendar {
  background-color: #bea891;
  width: 95%;
  margin: auto;
  margin-top: 2%;
}

h1 {
  color: #bea891;
}

.slot {
  border: 3px solid #81a28f;
  padding: 35px;
  box-shadow: #000 1px 1px 1px;
  background-color: #bea891;
  font-size: 100px;
  border-radius: 6px;
}

.slot > p {
  font-size: 55px;
}
.slot:hover {
  box-shadow: 0 8px 16px 0 #81a28f;
  box-shadow: 0 2px 5px 0 #81a28f;
  border-radius: 6px;
}

.credit-board {
  border: 3px solid #81a28f;
  margin: 10px auto;
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #bea891;
  border-radius: 6px;
}

.slot-container {
  display: flex;
  width: 500px;
  margin: 20px auto;
  justify-content: space-around;
}

.start {
  width: 170px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Baskerville";
  letter-spacing: 1px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  border: 3px solid #81a28f;
}

.credits {
  width: 80px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Baskerville";
  letter-spacing: 1px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  border: 3px solid #81a28f;
}

.credits:hover {
  box-shadow: 0 2px 5px 0 #81a28f;
}

.start:hover {
  box-shadow: 0 2px 5px 0 #81a28f;
}

h1 {
  font-family: "Baskerville";
  font-weight: normal;
}

.navvy {
  font-size: 16px;
  color: #bea891;
}

.account {
  font-size: 32px;
}

.p2e {
  font-size: 150px;
  position: fixed;
  top: 0;
  left: 0;
}
.p3e {
  font-size: 150px;
  position: fixed;
  top: 140px;
  left: 200px;
}

.first {
  width: 100%;
  overflow-wrap: normal;
}

.type {
  font-size: 150px;
  top: 280px;
  left: 400px;
  position: fixed;
  overflow-wrap: normal;
}

.p4e {
  font-size: 150px;
  top: 420px;
  left: 600px;
  position: fixed;
}

.lighty {
  color: #81a28f;
}
.container-first {
  display: flex;
  flex-flow: column-reverse wrap;
  align-content: flex-start;
  width: auto;
  height: 300px;
  padding: 0px 0px 0px 20px;
  border-top: 2px sold white;
}

.red-item,
.black-item,
.zero-item {
  box-sizing: border-box;
  border: none;
  border-left: 3px solid white;
  border-top: 3px solid white;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 50px;
  font-size: 30px;
  color: white;
}
.zero-item {
  border-bottom: 3px solid white;
  padding-top: 110px;
  padding-bottom: 111px;
}
.red-item {
  background-color: red;
}

.black-item {
  background-color: black;
}

.column-item {
  border: solid white;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 50px;
  font-size: 30px;
  color: white;
}

.container-second {
  display: flex;
  width: auto;
  height: 70px;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0px 0px 0px 72px;
}

.doz-item {
  flex-basis: 197px;
  border: solid white;
  padding-top: 15px;
  padding-bottom: 34px;
  text-align: center;
  height: 20px;
  font-size: 30px;
  color: white;
}

.container-third {
  display: flex;
  width: auto;
  height: 150px;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0px 0px 0px 72px;
  margin-bottom: -40px;
}

.outside-section {
  flex-basis: 97px;
  border: solid white;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  height: 20px;
  font-size: 30px;
  color: white;
}

.rhomb-red {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
  border: solid white;
  transform: rotate(45deg);
  color: transparent;
}

.rhomb-black {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  border: solid white;
  transform: rotate(45deg);
  color: transparent;
}

.value {
  transform: rotate(-90deg);
}

.no-text {
  color: transparent;
}

.botton-table {
  transform: rotate(0deg);
}

.disabled-link {
  pointer-events: none;
}

.chip {
  width: 70px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 20px;
}

.chip-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.home_points {
  width: 70px;
  margin-right: 40px;
}

.home_points > p {
  font-size: 16px;
}

.blackjacko {
  font-size: 50px;
}

.jackbutton {
  width: 170px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Baskerville";
  letter-spacing: 1px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  border: 3px solid #81a28f;
}

.jackbutton:hover {
  box-shadow: 0 2px 5px 0 #81a28f;
}

button {
  width: 140px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Baskerville";
  letter-spacing: 1px;
  background: #bea891;
  border: 1px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 6px;
  border: 3px solid #81a28f;
  margin: 20px 8px 20px;
}

.chipz {
  align-self: center;
  width: 200px;
  margin-top: 20px;
}

.image2 {
  position: absolute;
  right: 100px;
  bottom: 370px;
  height: 60%;
  width: 25%;
  z-index: -3;
  padding-left: 70px;
  overflow: hidden;
}

.image {
  position: absolute;
  left: 70px;
  top: 320px;
  height: 620px;
  width: 390px;
  z-index: -3;
}
.homepage {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rec.rec-arrow {
  color: #81a28f;
  background-color: #bea891;
  margin: 200px;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-pagination {
  display: none;
}

.rec.rec-arrow:hover:enabled {
  background-color: #81a28f;
  color: #bea891;
}

.rec.rec-arrow:focus:enabled {
  color: #81a28f;
  background-color: #bea891;
  margin: 200px;
}

.cardo img {
  margin-top: 5px;
  width: 400px;
  height: 350px;
  object-fit: cover;
  border: 0.5px solid white;
  border-radius: 8px;
}

.purchase_name {
  font-size: 26px;
  font-style: italic;
}

.chip_value {
  margin: 8px;
}
.current-chip {
  width: 100px;
  border-radius: 50%;
}

.table-chip {
  width: 42px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.bet-info {
  margin-top: 0px;
}

/* .side-button-container {
  position: relative;
  display: inline;
} */

.side-button-container {
  position: absolute;
  float: right;
  right: 20%;
}

.roulette-board {
  margin-left: 25%;
  width: 75%;
}

.ruley {
  float: left;
  left: 8.6%;
  top: 16%;
}
.black {
  color: black;
  font-size: 70px;
  font-weight: bold;
  animation: rotation 5s infinite linear;
}

.red {
  color: red;
  font-size: 70px;
  font-weight: bold;
  animation: rotation 5s infinite linear;
}

.green {
  color: green;
  font-size: 70px;
  font-weight: bold;
  animation: rotation 5s infinite linear;
}

.score_hold {
  position: fixed;
  top: 55%;
  left: 50%;
  background-color: #bea891;
  width: 25%;
  height: auto;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exp > .purchased {
  background: #746c65;
}

.redeem-button {
  /* display: none; */
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 0px 0px 0px 10px;
  text-align: center;
  margin: 0;
  padding: 4px;
}
